// Portfolio Modal 4
#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal4', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Programming
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/solidity.jpg', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | With his extensive background in programming, knowledge of implementation techniques and end to end business knowledge, Chris can help any business successfully navigate difficult challenges with speed and accuracy. He has experience with Python, Node.js, and even Solidity.
                            button.btn.btn-primary( data-bs-dismiss='modal')
                                i.fas.fa-times.fa-fw
                                | Close Window