// Portfolio Modal 6
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal6', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Robotics Process Automation
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/rpa.jpg', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | One of his biggest passions is making repetitive tasks disappear by employing RPA tools. He's saved global companies thousands of hours by creating sophisticated process robots that allow them to focus on the value add tasks. He's certified in multiple platforms and can recommend any process enhancements to existing robots also!
                            button.btn.btn-primary( data-bs-dismiss='modal')
                                i.fas.fa-times.fa-fw
                                | Close Window